.svn
.classpath
.project
.settings
target
.idea/
*.iml
**/*.log
services/voldemort/lib/
whirr.log
conf/credentials
.git
whirr.log.*services/cassandra/src/test/resources/whirr-cassandra-test.properties
