.svn
.classpath
.project
.settings
target
.idea/
*.iml
**/*.log
services/voldemort/lib/
conf/credentials
.git
whirr.log
whirr.log*
services/cassandra/src/test/resources/whirr-cassandra-test.properties
